.footer-container {
    margin-top: auto;
    background-color: var(--text-black);
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.footer-info {
    color: var(--secondary-background);
    padding: 1rem;
    font-size: 0.75rem;
}